<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Student</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<span th:if="${successMsg}">
		<h2 style="color:green;" th:text="${successMsg}"> </h2>
	</span>
	<span th:if="${error}">
		<h2 style="color:red;" th:text="${error}"> </h2>
	</span>

	<div>
		<h1>Add a Student</h1>
	</div>
	<h3>
		<form th:action="@{addingstd_page}" method="post" th:object="${student}">
			 Student Name: <input type="text" th:field="*{name}" required> <br><br>
			Student email: <input type="email" th:field="*{email}" required><br><br>
			  Total marks: <input type="text" th:field="*{marks}" required><br><br>
			       Status: <input type="text" th:field="*{status}" required><br><br>
			<input type="submit" value="submit">
		</form>
	</h3>
	<a th:href="@{/}">go to index</a>

</body>

</html>